<!DOCTYPE html>
<html lang="en">
  <%- include("../template/head") %>
  <body>
    <header>
      <nav>
        <ul>
          <% links.forEach(function(entry){ %>
          <li>
            <a href="<%=entry.url%>"><%= entry.name %></a>
          </li>
          <% })%>
        </ul>
      </nav>
    </header>
    <% if (pageHeading){%>
    <h4><%= pageHeading%></h4>
    <%}%>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque,
      recusandae?
    </p>
  </body>
</html>
